<!doctype html>
<html>
  <head>
    <title>Test!</title>
    <script>
      window.__INITIAL_STATE__ = JSON.parse('{{initialData}}');
    </script>
  </head>
  <body>
    <div id="root">{{{content}}}</div>
    <script src="dist/detail-app.js"></script>
  </body>
</html>